@import "tailwindcss";
@tailwind utilities;

@theme {
  --breakpoint-2xs: 320px;
  --breakpoint-lg-pro: 1100px;
  --breakpoint-xxl: 1400px;

  --color-white: #ffffff;
  --color-black: #000000;
  --color-blue-green: #c9e1e3;
  --color-orange: #ed9b69;
  --color-blue: #3e698c;
  --color-dark-blue: #183045;
  --color-dark-gray: #212121;
  --color-brown: #582e09;
  --color-light-blue: #e0f1ff;

  --font-body: "Poppins", sans-serif;
  --font-heading: "Alice", serif;
}

@layer base {
  html {
    @apply scroll-smooth;
  }

  ::after,
  ::before,
  * {
    @apply box-border;
  }

  body {
    @apply m-0 p-0 font-body text-base;
  }

  h1,
  .h1 {
    @apply text-[80px] 2xs:text-5xl md:text-6xl lg:text-[80px] font-heading text-white leading-[91px] tracking-[0.001em];
  }

  h2,
  .h2 {
    @apply text-[48px] 2xs:text-[26px] sm:text-[30px] md:text-[35px] lg:text-[48px] font-heading font-normal text-dark-blue 2xs:text-center lg:text-left leading-[55px] 2xs:leading-10 md:leading-[55px];
  }

  h3,
  .h3 {
    @apply text-[32px] 2xs:text-[20px] sm:text-[26px] md:text-[30px] lg:text-[32px] font-heading font-normal;
  }

  h4,
  .h4 {
    @apply 2xs:text-[18px] sm:text-[20px] md:text-[24px] leading-[34px]! font-body font-bold;
  }

  h5,
  .h5 {
    @apply text-[20px] 2xs:text-base sm:text-[20px] font-normal font-body leading-[23px];
  }

  img {
    @apply w-full h-full object-cover;
  }

  .leading {
    @apply leading-[26px];
  }

  p {
    @apply text-dark-gray leading-[26px] font-body;
  }

  a {
    @apply font-bold;
  }
}

@layer components {
  .btn-custom {
    @apply bg-orange text-dark-gray hover:bg-blue hover:text-white cursor-pointer text-center rounded-[23px] px-7 py-2.5 font-body font-bold leading-[26px] tracking-[0.003em] transition-all duration-500 ease-in-out;
  }

  .btn-card {
    @apply w-fit justify-self-center mt-2.5;
  }
}

@layer utilities {
  .container-sm {
    @apply mx-5;
  }

  .container-max-1000 {
    @apply max-w-[1000px] 2xs:mx-5 lg:mx-0;
  }

  nav .links,
  #mobileMenu a {
    @apply leading-[26px] text-dark-gray;
  }

  .links a {
    @apply hover:text-orange text-dark-gray transition-all duration-400 ease-in-out;
  }

  nav button svg {
    @apply w-8 h-8 text-blue cursor-pointer;
  }

  nav img {
    @apply 2xs:max-w-[150px] lg:max-w-[263px] cursor-pointer;
  }

  header .nav-main {
    @apply items-center justify-between rounded-lg bg-white w-[-webkit-fill-available] py-5 pl-[34px] pr-[45px] 2xs:pl-5 2xs:pr-5 sm:pl-6 sm:pr-6 lg-pro:pl-[34px] lg-pro:pr-[45px];
  }

  .hero-section .hero-heading {
    @apply 2xs:left-[50px] md:left-20 lg:left-[100px];
  }

  .blue-green-bg,
  .announcement-bar:first-child {
    @apply bg-blue-green;
  }

  .about-beachside-rehab .about-beachside-rehab-main {
    @apply 2xs:gap-[30px] xl:gap-[100px] -mt-[300px] mx-20 2xs:mx-5 lg:mx-20 bg-blue-green rounded-tl-[40px] rounded-bl-[140px] rounded-tr-[140px] rounded-br-[40px];
  }

  .our-facilities .facility-card {
    @apply bg-bottom bg-cover rounded-lg relative;
  }

  .our-facilities .facility-card .card {
    @apply pt-[394px] px-2.5 pb-2.5 w-[-webkit-fill-available] cursor-pointer;
  }

  .card .card-text {
    @apply p-7 text-center rounded-lg;
  }

  .our-team-card {
    @apply bg-cover bg-center relative min-h-[500px] rounded-lg;
  }

  .card-text .btn-custom a {
    @apply after:absolute after:inset-0 after:h-full after:w-full;
  }

  .card-contannt {
    @apply absolute bottom-0 justify-self-center p-2.5 w-full;
  }

  .card-contannt .inner-contant {
    @apply text-center rounded-lg p-3.5;
  }

  .inner-contant h5 {
    @apply mt-1;
  }

  .inner-contant h4 {
    @apply text-dark-blue;
  }

  .faqs select {
    @apply w-full;
  }

  .faqs div {
    @apply bg-blue text-white py-5 px-7 rounded-lg text-[23px] 2xs:text-[20px] md:text-[23px] font-bold font-body;
  }
}

@keyframes stickySlideDown {
  0% {
    opacity: 0.7;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.active_nav {
  background-color: white;
  transition: 0.3s ease;
  top: 0;
  animation: stickySlideDown 1s ease-in-out;
}

.transition {
  transition: all;
  transition-duration: 500;
  transition-timing-function: ease-in-out;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-dots .swiper-pagination {
  position: static;
  transform: none !important;
}

.swiper.testonomial .swiper-pagination .swiper-pagination-bullet {
  background: transparent;
  opacity: 1;
  width: auto;
  height: auto;
  margin: 0 8px;
}

.swiper.testonomial .swiper-pagination .swiper-pagination-bullet::before {
  content: "";
  display: block;
  width: 45px;
  height: 10px;
  background: #c9e1e3;
  border-radius: 4px;
  border: 1px solid #183045;
}

.swiper.testonomial
  .swiper-pagination
  .swiper-pagination-bullet-active::before {
  width: 55px;
  height: 14px;
  background: #183045;
  border-radius: 14px;
}

.header-shadow {
  box-shadow: 0px 4px 20px 0px #00000033;
  backdrop-filter: blur(10px);
}

.hero-gradiant {
  background: linear-gradient(
    281.12deg,
    rgba(0, 0, 0, 0) 29.65%,
    rgba(0, 0, 0, 0.457305) 51.49%,
    rgba(0, 0, 0, 0.605919) 71.24%,
    rgba(0, 0, 0, 0.75) 95.86%
  );
}

.about-beachside-rehab-main-gradiant {
  box-shadow: 0px 4px 20px 0px #00000033;
}

.our-facilities-blur {
  background: #ffffffe0;
}

.our-facilities-shadow {
  box-shadow: 0px 4px 20px 0px #00000033;
}

.light-orange-gradiant {
  background: linear-gradient(0deg, #f8d4b4, #f8d4b4),
    linear-gradient(0deg, rgba(248, 212, 180, 0) 76.06%, #f8d4b4 100%);
  background-blend-mode: normal, luminosity, normal;
}

